<?xml version="1.0"?>
<config>
    <modules>
        <Shopgate_CartRules>
            <version>0.1.0</version>
        </Shopgate_CartRules>
    </modules>
    <global>
        <models>
            <shopgate>
                <rewrite>
                    <shopgate_plugin>Shopgate_CartRules_Model_Shopgate_Plugin</shopgate_plugin>
                    <observer>Shopgate_CartRules_Model_Observer</observer>
                </rewrite>
            </shopgate>
        </models>
    </global>
</config>